.nav {
 
    display: flex;
    flex-direction: row;

}

.nav-link {
    text-decoration: none;
    color: #000;
    padding: 10px;
    
}

.inside {
display: flex;
padding: 20px;
flex-direction: row;
}

@media (max-width: 768px) {
.inside {
flex-direction: column;
}
.whole{
    padding: 0;
}
.nav {
    text-align: center;
}
}

@media (min-width: 1025px) {
    .whole {
    padding: 100px;

}
}


body {
    
    font-family: 'Roboto', sans-serif;
}





#contain {
    flex: 55%; 
}

aside{
    flex: 45%;
    text-align: center;
}

.banner{
    background-color: #1d1d1d;
    color: #fff;
    padding: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

img.profile{
    text-align: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

img.layout{

    max-width: 500px;
    max-height:500px ;

}

a{
    text-decoration: none;
    color: #251717;
    border-bottom: solid black 1px;
}

a:hover{

    border: solid black 1px;
    box-shadow: 1px 1px #000;
    transition: 0.5s;

}

.fotofoto{

    width: 150px;
    height: 150px;


}
footer{

    background-color: #000;
    color: #fff;
    padding: 20px;

}